nodejs/kiwoom/.env
python/kiwoom/.env
nodejs/kiwoom/node_modules/
-r nodejs/kiwoom/node_modules/
python/kiwoom/__pycache__/
-r python/kiwoom/__pycache__/
kiwoom_bot_data/
-r kiwoom_bot_data/
kiwoom_bot_data_backup/
-r kiwoom_bot_data_backup/